
.ce {
    background-color: black;
    color: white;  
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}
.num {
    margin: 10px;
    font-size: 10px;
}
@media screen and (max-width: 1000px) and (min-width: 500px) {
    .color {
        display: flex;
        flex-direction: row;
        height: 600px;
        
    }
    .cool1 {
        background-color: orange;
        width: 50%;
        height: 700px;
    }
    .cool2 {
        background-color: palevioletred;
        width: 50%;
        height: 700px;
    }
    }

    
    @media screen and (max-width: 500px) and (min-width: 0px) {
        .color {
            display: flex;
            flex-direction: column;
            height: 600px;
            
        }
        .cool1 {
            background-color: orange;
            height: 50%;
        }
        .cool2 {
            background-color: palevioletred;
            height: 50%;
        }
        }


.num {
    display: inline;
}