body {
    background-color: antiquewhite;
}

h1 {
    background-color: aquamarine;
    color: blue;  
    border-style: solid;
    padding-left: 675px;
    padding-top: 50px;
    width: 800px;
    height: 100px;
}

h4 {
    border-bottom-style: solid;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;
}

section{
    background-color: aliceblue;
} 

#thai {
    margin-left: 650px;
}

p {
    margin-left: 50px ;
}
